.error404 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.error404 > div {
    text-align: center;
    font-size: 45px;
}

.errorNumber {
    font-weight: bold;
    font-size: 100px;
    color: chocolate;
}