.superInput {
    width: 320px;
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    background: #fcfcfc;
    border: 2px solid #87a490;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    position: absolute;
    left: 40px;
    color: red;
    font-style: italic;
    opacity: .75;
    z-index: 0;
}